/* HERO */
.hero-section {
  background:#a0ec8b;
  padding: 80px 0;
}

.hero-title {
  font-size: 52px;
  font-weight: 800;
  color: #293e20;
}

.hero-text {
  color: #555;
  margin: 20px 0;
}

.hero-btn {
  background: #1c3426;
  color: #fff;
  border-radius: 30px;
  padding: 10px 30px;
}

.hero-img {
  width: 100%;
  max-width: 420px;
}











.footer {
    background-color:rgb(81, 221, 114);
    padding: 20px 0;
    margin-top: 40px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 1000px;
    margin: auto;
    gap: 20px;
    flex-wrap: wrap;
}

.footer-col {
    flex: 1;
    min-width: 200px;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 6px;
}

.footer-col ul li a {
    color: black;
    text-decoration: underline;
}

.footer-col ul li a:hover {
    color:black;
    background-color: rgb(43, 144, 226);
    padding: 3px;
    border-radius:2px;
}

@media (max-width: 768px) {
    .products {
        flex-direction: column;
        align-items: center;
    }

    .footer-container {
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 480px) {
    header h2 {
        font-size:5px;
    }

    .menu {
        flex-direction: column;
        align-items: center;
    }

    .head-href {
        padding: 8px;
    }

    .footer {
        font-size:10px;
    }
}
